@import "tailwindcss";

@theme {
  --color-brand-primary: #bb6835;
  --color-brand-secondary: #e68e48;
  --color-navy-deep: #023857;
  --color-earth-brown: #542f1e;
  --color-teal-muted: #6aabab;
  --color-tan-light: #c89d7e;
  --color-obsidian: #08151c;
  --color-teal-dark: #3d6c6c;
  --color-rust: #874929;

  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-obsidian);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-obsidian);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit);
}
